// Normally mainpage styles


.main-page-wr
  background: #E0EEEF

.main-page
  background: $bg
  padding-top: 20px
  padding-bottom: 11px
  padding-left: 15px
  padding-right: 15px

  button
    padding: 9px 16%
    display: inline-block
    height: 44px

.main-logo
  margin: 0 auto
  margin-bottom: 30px
  max-width: 520px
  height: auto
  +r(320)
    margin-bottom: 15px
  img
    width: 80%
    margin: 0 auto
    display: block
    height: auto
    +r(480)
      width: 75%


.sign-block
  max-width: 520px
  margin: 0 auto
  -webkit-box-shadow: 0px 0px 12px 0px rgba(94,94,94,0.5)
  -moz-box-shadow: 0px 0px 12px 0px rgba(94,94,94,0.5)
  box-shadow: 0px 0px 12px 0px rgba(94,94,94,0.5)

.sign-block__body
  text-align: center
  background: white
  +r(480)
    padding-top: 22px
    padding-left: 10px
    padding-right: 10px
  .title-red
    max-width: 322px
    margin: 0 auto

.sign-block__head
  padding: 6px 0
  background-color: #F4F4F4
  text-align: center
  +r(480)
    padding: 11px -0px
  .grey-title
    text-align: center

.info-text
  color: black
  line-height: 1.3
  +fs(21)
  max-width: 377px
  width: 90%
  margin: 0 auto
  text-align: center

.button
  background: $main
  text-transform: uppercase
  color: white
  &:hover
    background: $main-sec
    
  +fs(18)
  padding: 18px 16%
  text-align: center
  border-radius: 6px
  +r(480)
    +fs(18)

.icon-shield:before
  font-size: 30px
  +r(365)
    font-size: 23px

.icon-shield
  margin-right: 30px
  color: white
  +r(365)
    margin-right: 10px

.icon
  vertical-align: middle

.swich
  text-decoration: none
  color: #201E1E
  line-height: 40px
  +fs(18)
  display: block

.main-footer
  text-align: center

.copyr
  color: #828282
  +fs(18)
  display: block

.main-footer
  text-align: center


.sign-block__body
  padding: 21px 0 34px 0
  margin-bottom: 12px
  .title-red
    margin-bottom: 12px
  .info-text
    margin-bottom: 25px
    +r(480)
      margin-bottom: 15px

.top-header
  background: $main
  text-align: center
  position: relative
  height: 60px
  .back, .lang
    position: absolute
    left: 0
    top: 0
    bottom: 0

.current-menu-item
  +fs(18)
  color: white
  line-height: 60px
  +r(480)
    +fs(21)

.icon-add-main
  font-size: 60px
  color: white
.signup
  position: absolute
  right: 0
  top: 0
  bottom: 0

.icon-signup
  color: white
  font-size: 60px

.nav-header
  min-height: 48px
  background: #BB0000
  box-sizing: content-box !important
  padding-top: 4px
  ul
    //+justify
    line-height: 44px
    height: 0
    font-size: 0
    text-align: center
    +clr

  li
    float: left
    width: 25%
  a
    text-decoration: none
    color: white
    +fs(18)
    text-transform: uppercase
    max-width: 89px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    +r(320)
      +fs(16)


    &:hover
      //border-bottom: 4px solid whit

    &.active-link
      border-bottom: 4px solid white


.icon-book
  font-size: 97px
  color: $main
  width: 97px
  margin-bottom: 40px

.main-block
  padding: 0 10px
  width: 80%
  margin: 0 auto
  text-align: center
  top: 37%
  left: 50%
  +r(320)
    width: 90%
  +rh(480)

body>.add-ham
  +r(768)
    position: absolute
    //bottom: 6%
    left: 50%
    width: 80%
    text-align: center
    transform: translate(-50%)
    bottom: 8%
    +rh(480)
      bottom: 3%

.sucess-page .add-ham,
.transfer-page .add-ham
  text-align: center
  padding: 80px 0

.add-ham
  text-align: center
  a
    color: $main
    +fs(24)
    font-weight: bold
    display: inline-block
    vertical-align: middle


.icon-add
  font-size: 41px
  color: $main
  margin-right: 20px
  +rh(480)
    font-size: 35px

.pc-bg .sucess-page .bottom-button
  position: absolute
  left: 0
  right: 0
  bottom: 8%

.pc-bg .sucess-vust .bottom-button
  position: absolute
  left: 0
  right: 0
  bottom: 8%

.bottom-button
  margin: 0 auto
  text-align: center
  padding-top: 59px
  padding-bottom: 26px
  +rh(548)
    position: static
    padding: 40px 0
    transform: translate(0)


  .button
    padding: 16px 16%
    display: block
    width: 100%
    box-sizing: border-box
    text-transform: uppercase
    +rh(480)
      padding: 14px 16%


.title-t
  text-align: center
  padding-top: 40px
  font-weight: 500
  font-family: 'RobotoMediun'
  +fs(26)
  +rh(480)
    padding-top: 20px

.input-border
  height: 52px
  width: 100%
  display: block
  padding-left: 15px
  border-bottom: 4px solid $main
  +fs(24)

option
  color: black

.currency-drop
  border: 0
  border-bottom: 4px solid $main
  color: darkgrey
  background: white !important
  height: 50px !important
  .selectboxit-text
    line-height: 50px !important

.red-drop
  color: $main

.inputs
  input
    margin-bottom: 25px

.error
  +fs(20)
  text-align: center
  color: $main
  margin: 40px 0

.add-new-page
  .bottom-button
    width: 100%
  .main-block
    bottom: 0

.small-button
  .button
    width: 78%
    margin: 0 auto

.icon-sucess
  font-size: 75px
  margin-bottom: 40px
  +rh(640)
    margin-bottom: 20px

.currency-page, .bank-accounts
  .add-ham
    width: 100%
    padding: 40px 0
    +rh(480)
      padding: 20px 0px


.currency-ico
  font-size: 45px

.pc-bg .list-of-currency
  //height: calc(629px - 215px) !important

.list-of-currency,
.list-of-deals
  //overflow-y: scroll
  //height: calc(100vh - 233px)
  //+rh(480)
  //  height: calc(100vh - 193px)


  li
    padding-top: 10px
    padding-bottom: 10px
    overflow: hidden
    padding-left: 63px
    padding-right: 111px
    min-height: 100px
    position: relative
    background-color: white
    margin-bottom: 9px
    display: flex
    align-items: center
    +vertical
    box-shadow: 0px 1px 9px -3px rgba(124, 125, 125, 0.68)

.currency-ico
  color: #D71F27
  position: absolute
  top: 50%
  left: 10px
  transform: translate(0,-50%)

  +rh(480)
    font-size: 40px

.header
  min-width: 320px
  position: absolute
  left: 0
  right: 0
  top: 0
  z-index: 50
  +r(767)



.currency-page, .bank-accounts
  .add-ham
    background: #F2F2F2
    z-index: 500
    text-align: center
    +rh(480)


.name-currency
  display: inline-block
  line-height: 1.2
  text-align: left


.value,
.right-ico-deal
  position: absolute
  top: 50%
  right: 15px
  transform: translate(0,-50%)
  span
    display: inline-block
    font-size: 12px
    margin-right: 5px
    color: $main

  .cur-name
    display: inline-block
    font-size: 12px

.name-currency
  +fs(23)

.list-of-currency .value
  text-align: right

.list-of-currency .value span
  display: block
  margin-right: 0
  margin-bottom: 4px

.main-second-block
  margin-top: 8px
  box-shadow: 0px 3px 12px -5px rgba(124, 126, 125, 0.68)
  background: white
  padding: 34px 0 17px 0
  +clr
  &.custom
    padding-left: 35px
    padding-right: 35px
    padding-top: 17px
    padding-bottom: 30px
    .step-top-title
      margin-bottom: 25px
    .step-bottom-ttitle
      margin-bottom: 10px

  +rh(480)
    padding: 13px 0 6px 0

.balanse-page
  //overflow: scroll !important
  .bottom-panel
    position: static
    margin-top: 40px
  .second-title-left
    padding-left: 27px

.second-title-left
  font-weight: 500
  font-family: 'RobotoMediun'
  color: #3D3D3D

  +fs(24)

.you-balance,
.transfer-amount
  text-align: center
  padding-top: 24px
  +rh(480)
    padding-top: 11px

  .value-block
    &.available
      .val
        +fs(40)
      .currency-name
        +fs(20)

    .currency-name
      font-weight: 500
      font-family: 'RobotoMediun'
      +fs(25)
    .val
      font-weight: 400
      margin-right: 6px
      color: $main-sec
      display: block
      text-align: center
      +fs(48)
      width: 100%
      &.active
        padding-right: 83px

      +rh(480)
        font-size: 5.14rem
    span
      display: inline-block
      color: $main-sec
      top: 50%

.you-balance .val
  font-size: 5.5rem !important
  padding-right: 0 !important


.small-title
  font-weight: 400
  color: #565656
  margin-bottom: 10px

.more
  +fs(18)
  color: $main-sec
  position: relative
  display: inline-block
  margin-right: 10px

.icon-tri
  +fs(18)
  display: inline-block

.more-wrap
  text-align: right
  padding: 0 20px

.value-block
  margin-bottom: 15px

.icon-panel
  font-size: 60px !important
  margin-bottom: 10px
  +rh(480)
    font-size: 50px !important

.bottom-panel
  position: absolute
  bottom: 0
  left: 0
  right: 0
  background: white
  table-layout: fixed
  +rh(640)
    position: static
    //margin-top: 40px

  .link
    text-align: center

  .linkpanel-text
    color: #7F7F7F
    +fs(20)
    display: block
    +rh(480)
      font-size: 1.3rem


  tr,td
    border: 2px solid #8C8C8C

  td
    vertical-align: middle
    //padding: 2%


.icon-credit-card, .icon-handshake
  font-size: 100px

.portmone-info-page
  //height: initial !important



.info-block-wrapp
  overflow-y: scroll
  +rh(480)
    overflow: initial
    overflow: auto
    //height: initial



.with-panel
  //overflow: hidden
  +rh(640)
    overflow-y: scroll


.with-panel .info-block-wrapp
  +rh(640)
    height: inherit !important
    overflow: auto

.with-panel .bottom-panel
  +r(767)
    position: static
  +rh(640)
    position: static

.mobile-bg .with-panel .bottom-panel
  position: static
    //margin-top: 40px

    //height: 165px


.portmone-info-page
  .second-title-left
    margin-bottom: 15px
    font-weight: 500
    font-family: 'RobotoMediun'
  .main-second-block
    padding: 20px
    padding-right: 35px

.port-info
  table-layout: fixed
  +fs(22)
  td
    padding-bottom: 10px
    position: relative

.change-port
  display: inline-block

.history
  margin-bottom: 25px
  table-layout: fixed
  .date
    text-align: right
    +fs(18)
    color: #474747
  td
    vertical-align: top

.history-wrap
  margin-right: 15px
  margin-left: 15px

.history-title
  padding-left: 30px
//
//.history-value
//  display: inline-block

.history-container
  margin-top: 15px
  background: white
  padding-top: 25px
  padding-bottom: 40px
  box-shadow: 0px 3px 12px -2px rgba(124, 126, 125, 0.68)

.ico-history
  width: 50px
  height: 50px
  display: block
  background-position: center center
  background-size: contain
  margin: 0 auto
  background-repeat: no-repeat



.ico-transfer-h
  background-image: url(../img/transfer.svg)
.ico-add-portmone
  background-image: url(../img/add-portmone.svg)
.ico-deal
  background-image: url(../img/deal.svg)
.ico-exchange
  background-image: url(../img/exchange.svg)
.ico-fill
  background-image: url(../img/fill.svg)
.ico-get-money
  background-image: url(../img/get-money.svg)

.ico-get-commission
  background-image: url(../img/get-commission.svg)

.ico-return-commission
  background-image: url(../img/return-commision.svg)
.ico-transfer-send
  background-image: url(../img/transfer-send.svg)
.ico-vust
  background-image: url(../img/vust.svg)


.nav-buttons
  display: flex
  justify-content: space-around
  width: 80%
  margin: 0 auto

.navigate-button
  display: inline-block
  background: transparent
  position: relative
  //font-weight: 500
  font-family: 'RobotoMediun'
  color: $main
  +fs(22)
  .icon-tri
    margin: 0 9px
    font-size: 10px

.later
  .icon-tri
    +rotate(180)

.grey-title
  text-align: left
  span
    color: #6D6D6D
    +fs(22)

.icon-pencil-edit-button
  position: absolute
  right: 0
  top: 0
  color: #777777

.name-port-info
  padding-right: 20px

.value-info
  .balance, .available
    color: $main

.name-company
  +fs(22)
  color: #474747
  width: 100%
  display: block
  word-wrap: break-word

.action
  +fs(18)
  color: #474747

.history-value
  +fs(22)
  color: $main
  text-align: right
  width: 27%

td.ico
  width: 25%



.step-page .main-block
  bottom: 0

.step-page
  +rh(600)
    //height: initial !important

  .bottom-button
    width: 100%
    //+rh(576)
    //  position: static
    //  //margin-top: 35px
    //  transform: translate(0)

    button, a
      width: 90%

.main-block-third
  width: 90%
  top: 132px
  text-align: left
  +rh(480)
    position: static
    transform: translate(0)
    //margin-top: 25px
    padding-top: 30px
    padding-bottom: 35px



.input-form
  border: 1px solid #c5c5c5
  border-radius: 4px
  display: block
  width: 100%
  height: 37px
  padding-left: 23px
  margin-bottom: 14px
  color: #424242
  position: relative
  +fs(26)

.type-second-input
  &:focus
    border-color: $main

.input-form::-webkit-input-placeholder
  color: #424242

.input-form::-moz-placeholder
  color: #424242

.input-form:-ms-input-placeholder
  color: #424242

.step-top-title
  font-weight: 500
  font-family: 'RobotoMediun'
  color: #3d3d3d
  +fs(26)

.step-bottom-ttitle
  color: #3d3d3d
  +fs(45)
  font-weight: 400


.step-page

  .step-top-title
    //padding-left: 8px
    margin-bottom: 10px
  .step-bottom-ttitle
    margin-bottom: 40px
    +rh(480)
      margin-bottom: 20px

.warning-text
  color: #6d6d6d
  position: relative
  +fs(18)
  padding-left: 26px
  margin-bottom: 35px
  text-align: left

.icon-warning
  font-size: 20px
  position: absolute
  left: 0px
  color: #3d3d3d

.country-drop
  background-repeat: no-repeat
  background-size: 26px
  background-position: 13px 10px
  padding-left: 40px !important

.type-input
  &:focus
    background: transparent

//input:focus::-webkit-input-placeholder
//  color: transparent
//
//input:focus::-moz-placeholder
//  color: transparent
//
//input:focus::-ms-input-placeholder
//  color: transparent

.input-form:focus::-webkit-input-placeholder
  color: transparent

.input-form:focus::-moz-placeholder
  color: transparent

.input-form:focus::-ms-input-placeholder
  color: transparent

.textarea:focus::-webkit-input-placeholder
  color: transparent

.textarea:focus::-moz-placeholder
  color: transparent

.textarea:focus::-ms-input-placeholder
  color: transparent




.step-2
  button
    +fs(26)
    padding: 13px 16%

.icon-bank, .icon-credit-card-
  font-size: 20px

.check
  width: 36%
  height: 36px
  border: 1px solid #c5c5c5
  border-radius: 4px
  padding: 12px
  position: relative
  &.active
    border-color: $main
  .icon
    position: absolute
    left: 10px
    top: 50%
    transform: translate(0, -50%)
  span
    color: #424242
    +fs(24)
    line-height: 1
    position: relative
    display: block
    padding: 0 10px 0 38px
    text-align: left




.bank-account
  float: left

.credit-card
  float: right

.checkbox-wrap
  text-align: center
  margin-bottom: 17px
  +clr

.content-check
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  right: 0
  left: 0
  input
    position: absolute
    right: 8px
    top: 50%
    transform: translate(0, -50%)

.divide
  line-height: 60px
  font-size: 20px
  color: #424242

.textarea
  width: 100%
  display: block
  border: 1px solid #c5c5c5
  border-radius: 4px
  background-color: #e5e5e5
  resize: none
  height: 100px
  padding: 15px
  &:focus
    border-color: $main
  +fs(26)

.textarea::-webkit-input-placeholder
  color: #424242

.textarea::-moz-placeholder
  color: #424242

.textarea:-ms-input-placeholder
  color: #424242


.main-block-third
  .bottom-button
    width: 100%
    button
      width: 100%

  .step-top-title
    margin-bottom: 10px
    margin-top: 20px

  .step-bottom-ttitle
    margin-bottom: 15px

  .input-form
    padding-left: 15px
    height: 41px

.date-inputs
  input
    &:first-child
      float: left
      margin-right: 15px
    width: 35%

//.step-page-two
//  .main-block-third
//    position: static
//    transform: translate(0)
//    height: initial !important
    
.input-form.input-grey
  border-radius: 0
  background-color: #ededed
  border: 0
  width: 89%
  float: right

.input-wrapp
  +clr
  .icon
    font-size: 25px
    line-height: 35px


.step-text
  font-weight: 500
  font-family: 'RobotoMediun'
  color: #3d3d3d
  margin-bottom: 36px
  +fs(26)

.summ-info
  //table-layout: fixed
  .name
    color: #565656
    padding-right: 10px
    +fs(26)
  .value-sum
    color: $main-sec
    +fs(26)


.step-3
  //height: initial !important
  .you-balance,
  .transfer-amount
    padding-bottom: 24px
    +rh(480)
      padding-bottom: 11px

  .bottom-button
    position: static
    padding: 40px 0
    -webkit-transform: translate(0)
    -ms-transform: translate(0)
    transform: translate(0)

.step-last
  .bottom-button
    bottom: 8%

  .icon-handshake
    font-size: 70px
    margin-bottom: 20px

  .main-block-third
    text-align: center
    //padding-top: 35px

  .title-red
    font-weight: 400
    +fs(32)
    padding-bottom: 35px

.deal-name, .port-name-title
  +fs(22)
  color: #3f3f3f

.port-name,
.deal-value
  +fs(22)
  color: $main

.text-value
  color: #6b6b6b

.step-deal-page
  .bottom-button
    width: 80%
    margin: 0 auto


.deal-info
  table-layout: fixed
  
  td
    text-align: left
    padding-bottom: 10px
    word-wrap: break-word
    padding-right: 6px

.transfer-page
  //height: initial !important
  .step-top-title
    margin-bottom: 15px !important

  .bottom-button
    width: 80%
    margin: 0 auto

.sum-transfer
  +fs(22)
  color: #6d6d6d

.val-name
  +fs(25)
  color: $main
  position: absolute
  right: 0
  bottom: 0
  transform: translate(0, -50%)

.value-block
  position: relative

.step-2
  //+rh(600)
  //  height: initial !important
  .bottom-button
    bottom: 8%


.error-tr
  width: 75%
  margin-left: auto
  margin-right: auto
  margin-bottom: 0

.tranfer-table
  margin-bottom: 40px
  td
    padding-bottom: 5px

.icon-send
  font-size: 70px
  margin-bottom: 12px

.icon-coins
  font-size: 70px
  margin-bottom: 12px

.header-lang
  +fs(18)
  color: white
  font-weight: 400
  display: inline-block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.lang
  width: 60px


.main-block
  //position: static
  //transform: translate(0)
  margin-top: 40px


  .title-red
    margin-bottom: 15px



.wrap-bg
  position: relative
  margin: 0 auto
  top: 50%
  transform: translateY(-50%)
  -moz-transform: translateY(-50%)
  +r(767)
  &.mobile-bg
    position: static
    transform: scale(1)

  //overflow: hidden

  //background-image: url(../img/bg.jpg)
  //background-size: cover

.pc-bg .phone
  visibility: hidden

.phone
  background-image: url(../img/phone.png)
  height: 752px
  background-size: cover
  +r(768)
    background-image: none
    transform: scale(1) !important
    width: 100% !important
    height: initial
    height: auto

.mobile-bg .phone
  background-image: none
  transform: scale(1) !important
  width: 100% !important
  height: initial
  height: auto
    
.phone-left
  background-image: url(../img/main.png)
  height: 860px
  background-size: contain
  background-repeat: no-repeat
  background-position: 0 50%
  +r(767)
    background-image: none
    transform: scale(1) !important
    width: 100% !important
    display: none

.mobile-bg .phone
  transform: scale(1) !important
  width: 100% !important
  background-image: none
  height: initial
  height: auto

.mobile-bg .phone-left
  transform: scale(1) !important
  width: 100% !important
  background-image: none
  display: none

.phone
  width: 900px
  margin: 0 auto
  //+r(900)
  //  width: 768px
  //+r(767)

  //img
  //  +r(767)
  //    display: none

.wrapper
  +r(767)
    width: 100% !important
    position: static !important
    margin: 0 !important
    max-width: initial !important
    max-width: auto !important
    transform: scale(1) !important

.mobile-bg .wrapper
  width: 100% !important
  position: static !important
  margin: 0 !important
  max-width: initial !important
  max-width: auto !important
  transform: scale(1) !important

.wrap-bg .wrapper
  position: absolute
  left: 273px
  transform: scale(0.78)
  width: 360px
  border: 0
  top: 21px
  //+rm(769)
  //  height: 629px !important
    //overflow: scroll
.main-page-wr
  display: block !important

.pc-bg .wrapper
  //display: none
  height: 629px !important
  //+r(900)
  //  left: 207px
  //  transform: scale(0.666)
  //  width: 360px
  //  border: 0
  //  top: -28px

.wrapper
  +rm(922)
    //display: none
    height: 629px !important

.message
  .textarea
    background-color: white
    margin-top: 20px

.requisits
  color: $main
  +fs(20)
  text-decoration: underline

.sucess-page, .sucess-vust
  .main-block
    margin-top: 20%
    +rh(640)
      margin-top: 11%

  .bottom-button
    //+rm(769)
    //  position: absolute
    //  bottom: 30px
    //  width: 100%
    .button
      display: inline

  +rm(768)
    //overflow: hidden !important


.main-page-wr
  //+r(768)
  //  overflow: hidden !important

.without-panel
  .info-block-wrapp
    height: initial !important
    height: auto !important

.icon-exchange
  font-size: 57px

.icon-atm
  font-size: 50px

.icon-delete
  font-size: 57px

.meassage
  width: 90%
  margin: 0 auto

.profile-body
  width: 90%
  margin: 0 auto
  padding-top: 25px
  .input-form
    margin-bottom: 10px

  .step-top-title
    margin-bottom: 20px

.grey-input
  background-color: #E0E0E0


.list-of-currency,
.list-of-deals
  .step-top-title
    margin: 10px 0
    padding-left: 15px
.list-of-currency
  .icon-credit-card-, .icon-bank
    font-size: 45px


.bank-accounts
  .add-ham
    padding: 30px 0
  .icon-add
    font-size: 33px !important

.delete-account

  .icon-delete
    font-size: 16px
    vertical-align: middle
    margin-right: 10px
    padding: 15px 0

.delete
  text-align: center
  margin: 15px 0
  span
    font-size: 16px
    display: inline-block
    color: black
    vertical-align: middle

.account
  .bottom-button
    padding-bottom: 0

.offset-mb
  margin-bottom: 20px !important

.offset-mb-8
  margin-bottom: 8px !important

.offset-mb-15
  margin-bottom: 15px

.offset-mb-12
  margin-bottom: 12px !important

.offset-mb-18
  margin-bottom: 18px !important

.textarea-message
  height: 200px

.td-small-width
  width: 31%

.td-small-width-2
  width: 35%


.offset-top
  padding-top: 15px
  margin-bottom: 0 !important

.red-drop
  color: #FF0000

.grey-button
  background-color: #c6d8d1
  margin-bottom: 15px !important
  color: #636363
  &:hover
    background-color: #d2d8d6 !important
    color: #636363 !important

.left-off-1
  padding-left: 15px

.hstory-button-wrap
  text-align: center
  padding-top: 20px
  padding-bottom: 20px


.val::-webkit-input-placeholder
  color: $main

.val::-moz-placeholder
  color: $main

.val:-ms-input-placeholder
  color: $main


.val:focus::-webkit-input-placeholder
  color: transparent !important



.val:focus:-moz-placeholder
  color: transparent !important


.val:focus::-moz-placeholder
  color: transparent !important



.val:focus:-ms-input-placeholder
  color: transparent !important



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

.val.no-offset
  padding-right: 0 !important

.main-page-wrap
  +rh(610)
    transform: translate(0)
    position: static
  .phone-left
    width: 50%
    margin: 0
    float: left
    transform-origin: left
    height: 634px
    +rm(1600)
      height: 767px

    //transform: translateY(25%)

.main-page-wrap
  .main-page-wr
    +rm(768)
      transform: scale(1)
      position: static
      transform-origin: top
    //width: 50%

.main-page-wrap
  +clr

.selectboxit-container
  width: 100% !important
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  display: block !important
  margin-bottom: 14px !important

.selectboxit
  width: 100% !important

.selectboxit-options
  width: 100% !important

input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield

.selectboxit-container span,
.selectboxit-container .selectboxit-options a
  line-height: 40px
  height: 40px

.selectboxit-option-icon-url
  height: 40px !important
  width: 30px !important

.selectboxit-container .selectboxit-options a
  height: 40px

.selectboxit-option-icon-url
  background-size: 26px 20px !important

.right-ico-deal
  .ico
    font-size: 45px
    color: #D71F27

.list-of-deals li
  padding-right: 79px

.icon-envelope
  font-size: 19px !important


.selectboxit-container .selectboxit-options
  max-height: 322px !important

body.consruct-page
  background-image: none
  overflow: auto
  +r(800)
    background: #e0eeef !important

.construct-wrap
  max-width: 400px
  margin: 0 auto
  text-align: center
  position: absolute
  left: 50%
  top: 40%
  transform: translate(-50%, -50%)
  +r(767)
    left: 15px
    right: 15px
    transform: translateY(-50%)
  +rh(510)
    position: relative
    transform: translate(0)
    left: 0
    top: 0
    margin: 58px auto
  .icon
    font-size: 45px
    margin-bottom: 24px

.time-construct-text
  font-size: 16px

.logo-constr
  bottom: 80px
  left: 50%
  transform: translate(-50%, -50%)
  position: absolute
  +rh(510)
    position: relative
    margin: 15px 0
    transform: translate(0)
    left: 0
    top: 0
  img
    margin: 0 auto
    max-width: 180px

