// Normally mainpage styles


  
//
//.bg-desktop
//  background: url(../img/single_hand_bg.png)
//  -webkit-background-size: cover
//  background-size: cover
//  width: 723px
//  height: 707px
//  left: 50%
//  position: absolute
//  transform: translate(-270px,0)


.main-page
  background: $bg
  padding-top: 90px
  padding-bottom: 54px

.main-logo
  margin-bottom: 80px
  img
    margin: 0 auto


.sign-block
  max-width: 520px
  margin: 0 auto
  -webkit-box-shadow: 0px 0px 12px 0px rgba(94,94,94,0.5)
  -moz-box-shadow: 0px 0px 12px 0px rgba(94,94,94,0.5)
  box-shadow: 0px 0px 12px 0px rgba(94,94,94,0.5)

.sign-block__body
  text-align: center
  background: white
  +r(365)
    padding-top: 45px
    padding-left: 10px
    padding-right: 10px
  .title-red
    max-width: 322px
    margin: 0 auto

.sign-block__head
  padding: 23px 0
  background-color: #F4F4F4
  text-align: center

.info-text
  color: black
  line-height: 1.3
  font-size: 21px
  max-width: 377px
  width: 90%
  margin: 0 auto
  text-align: center

.button
  background: $main
  text-transform: uppercase
  color: white
  font-size: 18px
  padding: 16px 16%
  text-align: center
  border-radius: 6px
  +r(365)
    font-size: 16px




.icon-shield:before
  font-size: 30px
  +r(365)
    font-size: 23px

.icon-shield
  margin-right: 30px
  +r(365)
    margin-right: 10px

.icon
  vertical-align: middle

.swich
  text-decoration: none
  color: #201E1E
  font-size: 18.5px
  display: block
  padding-bottom: 20px

.main-footer
  text-align: center

.copyr
  color: #828282
  font-size: 18.5px
  display: block

.main-footer
  text-align: center


.sign-block__body
  padding: 70px 0 64px 0
  margin-bottom: 57px
  .title-red
    margin-bottom: 48px
  .info-text
    margin-bottom: 100px
    +r(365)
      margin-bottom: 50px

.top-header
  background: $main
  text-align: center
  position: relative
  height: 60px
  .back
    position: absolute
    left: 0
    top: 0
    bottom: 0

.current-menu-item
  font-size: 18.2px
  color: white
  line-height: 60px

.icon-add-main
  font-size: 60px
  color: white
.signup
  position: absolute
  right: 0
  top: 0
  bottom: 0

.icon-signup
  color: white
  font-size: 60px

.nav-header
  min-height: 48px
  background: #BB0000
  box-sizing: content-box !important
  padding-top: 4px
  ul
    +justify
    line-height: 44px
    height: 0

  li
    display: inline-block
  a
    text-decoration: none
    color: white
    font-size: 18px
    text-transform: uppercase
    padding: 0 20px
    span

    &:hover
      border-bottom: 4px solid white

    &.active-link
      border-bottom: 4px solid white


.icon-book
  font-size: 97px
  color: $main
  display: block
  margin: 0 auto
  width: 97px
  margin-bottom: 40px

.empty
  max-width: 320px
  padding: 0 10px
  margin: 0 auto
  padding-top: 200px

.add-ham
  position: absolute
  bottom: 124px
  left: 50%
  transform: translate(-50%)

  a
    color: $main
    font-size: 24px
    font-weight: bold
    display: inline-block
    vertical-align: middle


.icon-add
  font-size: 41px
  color: $main
  margin-right: 20px


