<header class="header">
    <div class="top-header">
        <div class="back">
            <a href="#" class="back-button">
                <i class="icon icon-add-main"></i>
            </a>

        </div>
        <!--<div class="lang">-->
            <!--<a href="#" class="back-button">-->
                <!--<a href="#" class="header-lang">EN</a>-->
            <!--</a>-->
        <!--</div>-->
        <div class="current-menu-item">Имя пользователя</div>
        <div class="signup">
            <a href="#" class="signup-button">
                <i class="icon icon-signup"></i>
            </a>
        </div>
    </div>
    <nav class="nav-header">
        <ul>
            <li><a class="active-link" href="get-money-submit.html"><span>Кошельки</span></a></li>
            <li><a href="account-info.html"><span>Сделки</span></a></li>
            <li><a href="balans.html"><span>Сообщения</span></a></li>
            <li><a href="portmone-info-with-panel.html"><span>Профиль</span></a></li>
        </ul>
    </nav>
</header>