<header class="header">
    <div class="top-header">
        <div class="back">
            <a href="#" class="back-button">
                <i class="icon icon-add-main"></i>
            </a>
        </div>
        <div class="current-menu-item">Имя пользователя</div>
        <div class="signup">
            <a href="#" class="signup-button">
                <i class="icon icon-signup"></i>
            </a>
        </div>
    </div>
    <nav class="nav-header">
        <ul>
            <li><a class="active-link" href="#"><span>КОШЕЛЬКИ</span></a></li>
            <li><a href="#"><span>СООБЩЕНИЯ</span></a></li>
            <li><a href="#"><span>ПРОФИЛЬ</span></a></li>
            <li><a href="#"><span>СЧЕТА</span></a></li>
        </ul>
    </nav>
</header>